.kaggle
.kaggle/kaggle.json
histopathologic-cancer-detection/test
histopathologic-cancer-detection/train
venv
sixtAttempt.py
secondAttempt.py
thirdAttempt.py
fourthAttempt.py
readData.py
readData.py
misc